/* SharePageStyles.css */

.SharedPosts {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  .PostCard {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .UserInfo {
    font-size: 18px;
    font-weight: bold;
    margin: 0 auto;
  }
  
  .PostImage {
    width: 450px;
    height: 450px;
    object-fit: cover;
    border-radius: 8px;
    margin: 0 auto;
    cursor: pointer; /* เพิ่มเติม: เปลี่ยนเคอร์เซอร์เป็นสัญลักษณ์การคลิก */
  }
  